---
version: '2'
services: 
  connect:
    hostname: connect 
    container_name: connect
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    networks:
      - docker-deploy-network
    environment: 
      CONNECT_BOOTSTRAP_SERVERS: ${bootstrap_server}
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_GROUP_ID: connect-distributed
      CONNECT_CLIENT_ID: connect-distributed
      CONNECT_CONFIG_STORAGE_TOPIC: connect-configs
      CONNECT_OFFSET_STORAGE_TOPIC: connect-offsets
      CONNECT_STATUS_STORAGE_TOPIC: connect-status
      CONNECT_REST_ADVERTISED_HOST_NAME: connect
      CONNECT_REST_ADVERTISED_PORT: 8083
      CONNECT_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule   required username='${kafka_cluster_key}'   password='${kafka_cluster_secret}';
      CONNECT_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_SASL_MECHANISM: PLAIN
      CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/confluent-hub-components
      CONNECT_PRODUCER_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule   required username='${kafka_cluster_key}'   password='${kafka_cluster_secret}';
      CONNECT_PRODUCER_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_PRODUCER_SASL_MECHANISM: PLAIN
      CONNECT_CONSUMER_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule   required username='${kafka_cluster_key}'   password='${kafka_cluster_secret}';
      CONNECT_CONSUMER_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_CONSUMER_SASL_MECHANISM: PLAIN
  control-center:
    hostname: control-center
    container_name: control-center
    image: confluentinc/cp-enterprise-control-center:7.3.0
    ports: 
      - "9021:9021"
    networks:
      - docker-deploy-network
    environment:
      CONTROL_CENTER_NAME: control-center
      CONTROL_CENTER_MODE_ENABLE: management
      CONTROL_CENTER_BOOTSTRAP_SERVERS: ${bootstrap_server}
      CONTROL_CENTER_STREAMS_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule   required username='${kafka_cluster_key}'   password='${kafka_cluster_secret}';
      CONTROL_CENTER_STREAMS_SECURITY_PROTOCOL: SASL_SSL
      CONTROL_CENTER_STREAMS_SASL_MECHANISM: PLAIN 
      CONTROL_CENTER_CONNECT_CONNECT-DEFAULT_CLUSTER: http://connect:8083
      CONTROL_CENTER_METRICS_TOPIC_MAX_MESSAGE_BYTES: 8388608
      CONTROL_CENTER_REPLICATION_FACTOR: 3
  ecommerce-db:
    hostname: ecommerce-db
    container_name: ecommerce-db
    build:
      context: ../postgres
      dockerfile: ecommerce.Dockerfile
    expose:
      - "5432"
    networks:
      - docker-deploy-network
  analytics-db:
    hostname: analytics-db
    container_name: analytics-db
    build:
      context: ../postgres
      dockerfile: analytics.Dockerfile
    expose:
      - "5432"
    networks:
      - docker-deploy-network
networks:
  docker-deploy-network:
    name: docker-internal-network